<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goal.dao.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.goal.po.Commodity">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="cmd_name" jdbcType="VARCHAR" property="cmdName" />
    <result column="cmd_desc" jdbcType="VARCHAR" property="cmdDesc" />
    <result column="cmd_price" jdbcType="VARCHAR" property="cmdPrice" />
    <result column="create_tsp" jdbcType="TIMESTAMP" property="createTsp" />
    <result column="change_tsp" jdbcType="TIMESTAMP" property="changeTsp" />
    <result column="t_Cmd_Type_id1" jdbcType="VARCHAR" property="tCmdTypeId1" />
    <result column="t_Brand_id1" jdbcType="VARCHAR" property="tBrandId1" />
  </resultMap>
  <insert id="insert" parameterType="com.goal.po.Commodity">
    insert into t_commodity (id, cmd_name, cmd_desc, 
      cmd_price, create_tsp, change_tsp, 
      t_Cmd_Type_id1, t_Brand_id1)
    values (#{id,jdbcType=VARCHAR}, #{cmdName,jdbcType=VARCHAR}, #{cmdDesc,jdbcType=VARCHAR}, 
      #{cmdPrice,jdbcType=VARCHAR}, #{createTsp,jdbcType=TIMESTAMP}, #{changeTsp,jdbcType=TIMESTAMP}, 
      #{tCmdTypeId1,jdbcType=VARCHAR}, #{tBrandId1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.goal.po.Commodity">
    insert into t_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cmdName != null">
        cmd_name,
      </if>
      <if test="cmdDesc != null">
        cmd_desc,
      </if>
      <if test="cmdPrice != null">
        cmd_price,
      </if>
      <if test="createTsp != null">
        create_tsp,
      </if>
      <if test="changeTsp != null">
        change_tsp,
      </if>
      <if test="tCmdTypeId1 != null">
        t_Cmd_Type_id1,
      </if>
      <if test="tBrandId1 != null">
        t_Brand_id1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cmdName != null">
        #{cmdName,jdbcType=VARCHAR},
      </if>
      <if test="cmdDesc != null">
        #{cmdDesc,jdbcType=VARCHAR},
      </if>
      <if test="cmdPrice != null">
        #{cmdPrice,jdbcType=VARCHAR},
      </if>
      <if test="createTsp != null">
        #{createTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTsp != null">
        #{changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="tCmdTypeId1 != null">
        #{tCmdTypeId1,jdbcType=VARCHAR},
      </if>
      <if test="tBrandId1 != null">
        #{tBrandId1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cmd_name, cmd_desc, cmd_price, create_tsp, change_tsp, t_Cmd_Type_id1, t_Brand_id1
  </sql>
  <select id="selectByExample" parameterType="com.goal.po.CommodityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.goal.po.CommodityExample">
    delete from t_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.goal.po.Commodity">
    insert into t_commodity (id, cmd_name, cmd_desc, 
      cmd_price, create_tsp, change_tsp, 
      t_Cmd_Type_id1, t_Brand_id1)
    values (#{id,jdbcType=VARCHAR}, #{cmdName,jdbcType=VARCHAR}, #{cmdDesc,jdbcType=VARCHAR}, 
      #{cmdPrice,jdbcType=VARCHAR}, #{createTsp,jdbcType=TIMESTAMP}, #{changeTsp,jdbcType=TIMESTAMP}, 
      #{tCmdTypeId1,jdbcType=VARCHAR}, #{tBrandId1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.goal.po.Commodity">
    insert into t_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cmdName != null">
        cmd_name,
      </if>
      <if test="cmdDesc != null">
        cmd_desc,
      </if>
      <if test="cmdPrice != null">
        cmd_price,
      </if>
      <if test="createTsp != null">
        create_tsp,
      </if>
      <if test="changeTsp != null">
        change_tsp,
      </if>
      <if test="tCmdTypeId1 != null">
        t_Cmd_Type_id1,
      </if>
      <if test="tBrandId1 != null">
        t_Brand_id1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cmdName != null">
        #{cmdName,jdbcType=VARCHAR},
      </if>
      <if test="cmdDesc != null">
        #{cmdDesc,jdbcType=VARCHAR},
      </if>
      <if test="cmdPrice != null">
        #{cmdPrice,jdbcType=VARCHAR},
      </if>
      <if test="createTsp != null">
        #{createTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTsp != null">
        #{changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="tCmdTypeId1 != null">
        #{tCmdTypeId1,jdbcType=VARCHAR},
      </if>
      <if test="tBrandId1 != null">
        #{tBrandId1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.goal.po.CommodityExample" resultType="java.lang.Integer">
    select count(*) from t_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_commodity
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.cmdName != null">
        cmd_name = #{record.cmdName,jdbcType=VARCHAR},
      </if>
      <if test="record.cmdDesc != null">
        cmd_desc = #{record.cmdDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.cmdPrice != null">
        cmd_price = #{record.cmdPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.createTsp != null">
        create_tsp = #{record.createTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeTsp != null">
        change_tsp = #{record.changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tCmdTypeId1 != null">
        t_Cmd_Type_id1 = #{record.tCmdTypeId1,jdbcType=VARCHAR},
      </if>
      <if test="record.tBrandId1 != null">
        t_Brand_id1 = #{record.tBrandId1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_commodity
    set id = #{record.id,jdbcType=VARCHAR},
      cmd_name = #{record.cmdName,jdbcType=VARCHAR},
      cmd_desc = #{record.cmdDesc,jdbcType=VARCHAR},
      cmd_price = #{record.cmdPrice,jdbcType=VARCHAR},
      create_tsp = #{record.createTsp,jdbcType=TIMESTAMP},
      change_tsp = #{record.changeTsp,jdbcType=TIMESTAMP},
      t_Cmd_Type_id1 = #{record.tCmdTypeId1,jdbcType=VARCHAR},
      t_Brand_id1 = #{record.tBrandId1,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>