<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goal.dao.PictureDAO">
  <resultMap id="BaseResultMap" type="com.goal.po.Picture">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="pic_type" jdbcType="VARCHAR" property="picType" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="show_as" jdbcType="VARCHAR" property="showAs" />
    <result column="pic_index" jdbcType="VARCHAR" property="picIndex" />
    <result column="change_tsp" jdbcType="TIMESTAMP" property="changeTsp" />
    <result column="create_tsp" jdbcType="TIMESTAMP" property="createTsp" />
  </resultMap>
  
  <!--McGee add for Commodity detail display pictures-->
  <resultMap id="PicturesResultMap" type="com.goal.form.CmdPicForm">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pic_index" jdbcType="VARCHAR" property="picIndex" />
  </resultMap>
  
  <select id="getPicturesByCmdId" parameterType="com.goal.dto.CmdPicDTO" resultMap="PicturesResultMap">
    select pic.id,pic.pic_url,pic.pic_index from shop.t_picture pic 
    join shop.t_commodity_has_t_pic chp on chp.t_Pic_id=pic.id
    join shop.t_commodity cmd on chp.t_Commodity_id=cmd.id
    where cmd.id=#{record.cmdId} and pic.show_as=#{record.showAs}
  </select>
  
  <insert id="insert" parameterType="com.goal.po.Picture">
    insert into t_picture (id, pic_type, pic_url, 
      show_as, pic_index, change_tsp, 
      create_tsp)
    values (#{id,jdbcType=VARCHAR}, #{picType,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{showAs,jdbcType=VARCHAR}, #{picIndex,jdbcType=VARCHAR}, #{changeTsp,jdbcType=TIMESTAMP}, 
      #{createTsp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goal.po.Picture">
    insert into t_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="picType != null">
        pic_type,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="showAs != null">
        show_as,
      </if>
      <if test="picIndex != null">
        pic_index,
      </if>
      <if test="changeTsp != null">
        change_tsp,
      </if>
      <if test="createTsp != null">
        create_tsp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="picType != null">
        #{picType,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="showAs != null">
        #{showAs,jdbcType=VARCHAR},
      </if>
      <if test="picIndex != null">
        #{picIndex,jdbcType=VARCHAR},
      </if>
      <if test="changeTsp != null">
        #{changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="createTsp != null">
        #{createTsp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pic_type, pic_url, show_as, pic_index, change_tsp, create_tsp
  </sql>
  <select id="selectByExample" parameterType="com.goal.po.PictureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_picture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.goal.po.PictureExample">
    delete from t_picture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.goal.po.PictureExample" resultType="java.lang.Integer">
    select count(*) from t_picture
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_picture
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.picType != null">
        pic_type = #{record.picType,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.showAs != null">
        show_as = #{record.showAs,jdbcType=VARCHAR},
      </if>
      <if test="record.picIndex != null">
        pic_index = #{record.picIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.changeTsp != null">
        change_tsp = #{record.changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTsp != null">
        create_tsp = #{record.createTsp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_picture
    set id = #{record.id,jdbcType=VARCHAR},
      pic_type = #{record.picType,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      show_as = #{record.showAs,jdbcType=VARCHAR},
      pic_index = #{record.picIndex,jdbcType=VARCHAR},
      change_tsp = #{record.changeTsp,jdbcType=TIMESTAMP},
      create_tsp = #{record.createTsp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>