<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goal.dao.SerialsDAO">
  <resultMap id="BaseResultMap" type="com.goal.po.Serials">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="serial_type" jdbcType="VARCHAR" property="serialType" />
    <result column="serial_name" jdbcType="VARCHAR" property="serialName" />
    <result column="serial_url" jdbcType="VARCHAR" property="serialUrl" />
    <result column="serial_level" jdbcType="VARCHAR" property="serialLevel" />
    <result column="p_serial_id" jdbcType="VARCHAR" property="pSerialId" />
    <result column="create_tsp" jdbcType="TIMESTAMP" property="createTsp" />
    <result column="change_tsp" jdbcType="TIMESTAMP" property="changeTsp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, serial_type, serial_name, serial_url, serial_level, p_serial_id, create_tsp, 
    change_tsp
  </sql>
  <select id="selectByExample" parameterType="com.goal.po.SerialsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_serials
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.goal.po.SerialsExample">
    delete from t_serials
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.goal.po.Serials">
    insert into t_serials (id, serial_type, serial_name, 
      serial_url, serial_level, p_serial_id, 
      create_tsp, change_tsp)
    values (#{id,jdbcType=VARCHAR}, #{serialType,jdbcType=VARCHAR}, #{serialName,jdbcType=VARCHAR}, 
      #{serialUrl,jdbcType=VARCHAR}, #{serialLevel,jdbcType=VARCHAR}, #{pSerialId,jdbcType=VARCHAR}, 
      #{createTsp,jdbcType=TIMESTAMP}, #{changeTsp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goal.po.Serials">
    insert into t_serials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serialType != null">
        serial_type,
      </if>
      <if test="serialName != null">
        serial_name,
      </if>
      <if test="serialUrl != null">
        serial_url,
      </if>
      <if test="serialLevel != null">
        serial_level,
      </if>
      <if test="pSerialId != null">
        p_serial_id,
      </if>
      <if test="createTsp != null">
        create_tsp,
      </if>
      <if test="changeTsp != null">
        change_tsp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serialType != null">
        #{serialType,jdbcType=VARCHAR},
      </if>
      <if test="serialName != null">
        #{serialName,jdbcType=VARCHAR},
      </if>
      <if test="serialUrl != null">
        #{serialUrl,jdbcType=VARCHAR},
      </if>
      <if test="serialLevel != null">
        #{serialLevel,jdbcType=VARCHAR},
      </if>
      <if test="pSerialId != null">
        #{pSerialId,jdbcType=VARCHAR},
      </if>
      <if test="createTsp != null">
        #{createTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTsp != null">
        #{changeTsp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.goal.po.SerialsExample" resultType="java.lang.Integer">
    select count(*) from t_serials
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <!-- lee add for iteration 1 -->
  <resultMap id="SliderResultMap" type="com.goal.form.SerialsForm">
    <result column="id" jdbcType="VARCHAR" property="serialsId" />
    <result column="serial_name" jdbcType="VARCHAR" property="serialsName" />
    <result column="serial_url" jdbcType="VARCHAR" property="url" />
    <result column="pic_url" jdbcType="VARCHAR" property="picURL" />
  </resultMap>
  <select id="getSerialsListBySerialDTO" parameterType="com.goal.po.SerialsExample" resultMap="SliderResultMap">
  	SELECT a.id,a.serial_name,a.serial_url,c.pic_url FROM shop.t_serials a left join
  	 shop.t_serials_has_t_cmd_pic b on a.id=b.t_serials_id left join
  	  shop.t_picture c on b.t_Pic_id=c.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <resultMap id="RecommendCmdResultMap" type="com.goal.form.RecommendCmdForm">
    <result column="cmd_id" jdbcType="VARCHAR" property="CmdId" />
    <result column="cmd_name" jdbcType="VARCHAR" property="cmdName" />
    <result column="cmd_desc" jdbcType="VARCHAR" property="cmdDesc" />
    <result column="cmd_price" jdbcType="VARCHAR" property="cmdPrice" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
  </resultMap>
  <select id="getRecommendCmdBySerialDTO" parameterType="com.goal.dto.SerialDTO" resultMap="RecommendCmdResultMap">
  select c.id cmd_id,c.cmd_name,c.cmd_desc,c.cmd_price,e.pic_url from shop.t_serials a left join 
  shop.t_serials_has_t_commodity b on a.id=b.t_serials_id left join
   shop.t_commodity c on b.t_Commodity_id=c.id left join
    shop.t_commodity_has_t_pic d on c.id=d.t_Commodity_id
     left join shop.t_picture e on d.t_Pic_id=e.id
     <where>
	      <if test="serialsId != null">
	       AND a.id = #{serialsId,jdbcType=VARCHAR}
	      </if>
     	<if test="showAs!=null">
     		AND e.show_as = #{showAs,jdbcType=VARCHAR}
     	</if>
     </where>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update t_serials
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.serialType != null">
        serial_type = #{record.serialType,jdbcType=VARCHAR},
      </if>
      <if test="record.serialName != null">
        serial_name = #{record.serialName,jdbcType=VARCHAR},
      </if>
      <if test="record.serialUrl != null">
        serial_url = #{record.serialUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.serialLevel != null">
        serial_level = #{record.serialLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.pSerialId != null">
        p_serial_id = #{record.pSerialId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTsp != null">
        create_tsp = #{record.createTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeTsp != null">
        change_tsp = #{record.changeTsp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_serials
    set id = #{record.id,jdbcType=VARCHAR},
      serial_type = #{record.serialType,jdbcType=VARCHAR},
      serial_name = #{record.serialName,jdbcType=VARCHAR},
      serial_url = #{record.serialUrl,jdbcType=VARCHAR},
      serial_level = #{record.serialLevel,jdbcType=VARCHAR},
      p_serial_id = #{record.pSerialId,jdbcType=VARCHAR},
      create_tsp = #{record.createTsp,jdbcType=TIMESTAMP},
      change_tsp = #{record.changeTsp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>